# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID    ='ba762c4ee05d40c48ce2b0faac2df199'
CLIENT_SECRET='68c98f85510e4e8c9e1a0071087fffd3'